.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.square {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.input-form {
    display: flex;
    gap: 10px;
}